body{
    font-family: sans-serif;
}

.botonMain{
    display: flex; 
    padding: 0.75rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    font-family: inherit;
    font-size: 1rem;
    height: auto;
    width: auto;
    gap: 10px;   
}
.botonMain:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.botonFlecha{
    height: 0.95rem;
}
.linkMain{    
    text-decoration: none;
}

.botonGamezone{
    background-color: rgb(171, 217, 255);
    border: none;
    font-family: inherit;
    font-size: 0.75rem;
    height: 1.7rem;
    width: 9rem;
    border-radius: 3px;
    box-shadow: rgba(48, 85, 181, 0.44) 0px 1px 4px 0px;
}
.botonGamezone:hover{
    background-color: white;
    cursor: pointer;
}

.botonSesion{
    display: flex; 
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: 0.75rem;
    align-items: center;    
    height: 1.7rem;
    gap: 10px;
}
.linkIniciarSesion{
    text-decoration: none;
}
.botonSesion:hover{
    cursor: pointer;
}
.botonMenuNav{
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-weight: bold;
}
.botonMenuNav:hover{
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.2rem;
    cursor: pointer;
}
.botonUnete{
    display: flex; 
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: 0.75rem;
    align-items: center;    
    height: 1.7rem;
    gap: 10px;
}
.botonUnete img{
    width: 1.25rem;
    height: 1.25rem;
}
.linkUnete{
    text-decoration: none;
}
.botonUnete:hover{
    cursor: pointer;
}

.botonBuscador{
    padding: 0.5rem;
    background-color: white;
    height: auto;
    width: auto;
    border-radius: 50%;
    border: none;
}
.botonBuscador:hover{
    cursor: pointer;
}
.botonListaDeseos{
    background-color: transparent;
    border: none;
}
.botonListaDeseos:hover{
    cursor: pointer;
}
.botonBolsaCompra{
    background-color: transparent;
    border: none;
}
.botonBolsaCompra:hover{
    cursor: pointer;
}

/* Parte de Martin empieza aquí */
.boton-compra-link {
    text-decoration: none;
}

.boton-compra {
    display: block;
    width: auto;
    background-color: rgb(253, 128, 36);

    padding: 0.9375rem;

    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: rgb(253, 128, 36);

    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.1875rem;
}

.boton-compra:hover {
    cursor: pointer;
    background-color: transparent;
}

.boton-articulos {
    min-width: max-content;
    background-color: transparent;

    padding: 0.85rem;

    font-size: 0.8rem;
    font-weight: bold;
    border: 2px solid #0067b2;
    border-radius: 30rem;
}

.boton-articulos:hover {
    cursor: pointer;
    background-color: #0067b2;

    color: white;
    text-decoration: underline;
}

.rs-boton-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.boton-rs{
    width: 40px;
    height: 40px;
    display: flex;
    background-color: black;

    border: none;
    border-radius: 50%;

}

.svg-rs {
    width: 40px;
    height: 40px;
    fill: white;
}

.boton-rs:hover {
    cursor: pointer;
}