/* Parte de Denise empieza aquí  */
.boton-main {
  display: flex;
  padding: 0.75rem;
  background-color: var(--black);
  color: var(--white);
  border: none;
  border-radius: 3px;
  font-weight: bold;
  font-size: 1rem;
  height: auto;
  width: auto;
  gap: 10px;
}
.boton-main:hover {
  background-color: var(--white);
  color: black;
  cursor: pointer;
}
.boton-flecha {
  height: 0.95rem;
}
.link-main-boton {
  text-decoration: none;
}

.boton-gamezone {
  background-color: rgb(171, 217, 255);
  border: none;
  font-weight: bold;
  font-size: 0.75rem;
  height: 1.7rem;
  width: 9rem;
  border-radius: 3px;
  box-shadow: rgba(48, 85, 181, 0.44) 0px 1px 4px 0px;
}
.boton-gamezone:hover {
  background-color: var(--white);
  cursor: pointer;
}

.boton-sesion {
  display: flex;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 0.75rem;
  align-items: center;
  height: 1.7rem;
  gap: 10px;
}
.link-iniciar-sesion {
  text-decoration: none;
}
.boton-sesion:hover {
  cursor: pointer;
}
.boton-menu-nav {
  background-color: transparent;
  border: none;
  font-weight: bold;
}
.boton-menu-nav:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.2rem;
  cursor: pointer;
}
.boton-unete {
  display: flex;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 0.75rem;
  align-items: center;
  height: 1.7rem;
  gap: 10px;
}
.boton-unete img {
  width: 1.25rem;
  height: 1.25rem;
}
.link-unete-boton {
  text-decoration: none;
}
.boton-unete:hover {
  cursor: pointer;
}

.boton-buscador {
  padding: 0.5rem;
  background-color: var(--white);
  height: auto;
  width: auto;
  border-radius: 50%;
  border: none;
}
.boton-buscador:hover {
  cursor: pointer;
}
.boton-lista-deseos {
  background-color: transparent;
  border: none;
}
.boton-lista-deseos:hover {
  cursor: pointer;
}
.boton-bolsa-compra {
  background-color: transparent;
  border: none;
}
.boton-bolsa-compra:hover {
  cursor: pointer;
}

/* Parte de Martin empieza aquí */
.boton-compra-link {
  text-decoration: none;
}

.boton-compra {
  display: block;
  width: auto;
  background-color: rgb(253, 128, 36);

  padding: 0.9375rem;

  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  border-color: rgb(253, 128, 36);

  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.1875rem;
}

.boton-compra:hover {
  cursor: pointer;
  background-color: transparent;
}

.boton-articulos {
  min-width: max-content;
  background-color: transparent;

  padding: 0.85rem;

  font-size: 0.8rem;
  font-weight: bold;
  border: 2px solid #0067b2;
  border-radius: 30rem;
}

.boton-articulos:hover {
  cursor: pointer;
  background-color: #0067b2;

  color: var(--white);
  text-decoration: underline;
}

.rs-boton-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.boton-rs {
  width: 40px;
  height: 40px;
  display: flex;
  background-color: black;

  border: none;
  border-radius: 50%;
}

.svg-rs {
  width: 40px;
  height: 40px;
  fill: var(--white);
}

.boton-rs:hover {
  cursor: pointer;
}
