
/*Root comun*/

@font-face {
    font-family: "legofont" ;
    src: url(Demo_Fonts/Fontspring-DEMO-cerapro-regular.otf);
}

:root {
 
  /* Font */
  --typo-font-general: legofont;

  /*Colores*/

  --black-light: #191919;
  --black: #000;
  --blue-dark: #003a71;
  --blue-extra-light: #e6f3ff;
  --blue-kids-dark: #3055b5;
  --blue-kids: #abd9ff;
  --box-shadow-kids: #3055b570;
  --blue-light: #31a1e0;
  --blue: #006db7;
  --green-extra-light: #ccead8;
  --green: #008537;
  --grey-dark: #2c2c2c;
  --grey-extra-extra-light: #f6f6f6;
  --grey-extra-light: #f8f8f8;
  --grey-light: #e0e0e0;
  --grey-medium: #cacaca;
  --grey: #757575;
  --orange-dark: #e86902;
  --orange: #fd8024;
  --purple-dark: #18152d;
  --purple: #201d48;
  --red-dark: #9d1604;
  --red-extra-light: #fff2f2;
  --red: #d0021b;
  --transparent: transparent;
  --vip-blue: #0a4dad;
  --white: #fff;
  --yellow-extra-light: #fef6d2;
  --yellow-light: #ffdb4b;
  --yellow: #ffcf00;
}


/*Titulo, subtitulo, texto card Blog     Camila*/

.cardContainerBlog{
    display: flex;
    flex-direction: row;
    gap: 20px;

    background-color: var(--black);

    color: var(--white);

    height: 500px;
}

.imagen-blog-container{
    position: relative;
    width: 100%;
    height: 300px;
}

img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-centered{
    font-family: var(--typo-font-general);

    text-decoration: none;
    color: var(--white);
    background-color: var(--black);

    width: 400px;
    margin: 15px;
    padding: 5px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3, p, span {
    font-family: var(--typo-font-general);
}

span{
    font-style: italic;
}

.no-style{
    font-style: normal;
}