@font-face {
    font-family: "legofont" ;
    src: url(Demo_Fonts/Fontspring-DEMO-cerapro-regular.otf);
}

:root {
 
  /* Font */
  --typo-font-general: legofont;

  /*Colores*/

  --black-light: #191919;
  --black: #000;
  --blue-dark: #003a71;
  --blue-extra-light: #e6f3ff;
  --blue-kids-dark: #3055b5;
  --blue-kids: #abd9ff;
  --blue-light: #31a1e0;
  --blue: #006db7;
  --green-extra-light: #ccead8;
  --green: #008537;
  --grey-dark: #2c2c2c;
  --grey-extra-extra-light: #f6f6f6;
  --grey-extra-light: #f8f8f8;
  --grey-light: #e0e0e0;
  --grey-medium: #cacaca;
  --grey: #757575;
  --orange-dark: #e86902;
  --orange: #fd8024;
  --purple-dark: #18152d;
  --purple: #201d48;
  --red-dark: #9d1604;
  --red-extra-light: #fff2f2;
  --red: #d0021b;
  --transparent: transparent;
  --vip-blue: #0a4dad;
  --white: #fff;
  --yellow-extra-light: #fef6d2;
  --yellow-light: #ffdb4b;
  --yellow: #ffcf00;
}

/* Footer - José */

.footer {
  font-family: var(--typo-font-general);
  color: white;
  background: rgb(32, 29, 72);
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-top-right {
  display: flex;
  flex-direction: row;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
}

.footer-bottom-subs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-bottom-final-terms {
  display: flex;
  flex-direction: row;
}
