:root {
    /* Typos José */
    --typo-sticker: Cera Pro,sans-serif;
    --typo-welcome: Cera Pro,sans-serif;
    --typo-footer: Cera Pro,sans-serif;
}


/* Stickers - José */

.sticker {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 150.5px;
    height: 245.25px;
}

.sticker-top {
    transform: translateY(150%)
}

.sticker-title {
    margin: 0;
    padding: 0;
    line-height: 1.1875rem;
    font-family: var(--typo-sticker);
    font-weight: 700;
    font-size: 0.875rem;
    color: rgb(0, 0, 0);
    
}

/* Welcome message section - José*/

.cont-welcome {
    font-family: var(--typo-welcome);
    padding: 1.25em;
    margin: 0 1em;
}

.cont-welcome-msg {
    background-color: #f2f2f2;
    padding: 1em;
    line-height: 1.4em;
}

.cont-welcome a {
    text-decoration: none;
}

/* Footer - José */

.footer {
    font-family: var(--typo-footer);
    color: white;
    background: rgb(32, 29, 72);
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-top-right {
    display: flex;
    flex-direction: row;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
}

.footer-bottom-subs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-bottom-final-terms {
    display: flex;
    flex-direction: row;
}

